<h1 style='color:orange'>DATA GATHERING:</h1><br>
<i style="font-size:16px">To create a model and work on that, the first thing we need is <b>DATA.</b><br>
But, How do we get that data?</i>

<h2 style="color:rgb(11, 218, 81)">There are various ways of doing that:</h2>
   <p style="font-size:16px;">1. From csv Files<br>
    2. Json/SQL files<br>
    3. Fetch data from API<br>
    4. Web-Scrapping
    </p>
    <p style="font-size:16px">We are going to study all these methods below:</p>

In [4]:
import pandas as pd

<h2 style="color:rgb(0, 255, 127)">1. From CSV Files: </h2>
<p style="font-size:16px">CSV = Comma Separated Files:<br>
 These files can be uploaded from local storage by just providing the path of that file in <b>read_csv()</b> function.</p>
 <p style="font-size:16px"> Below we're going to study some important <i>PARAMETERS</i> of read_csv() function: </p>

In [15]:
df = pd.read_csv("datasets/aug_train.csv")
# describe():
stats = df.describe()
# lets see what describe() returns
type(stats)

pandas.core.frame.DataFrame

In [16]:
stats

        enrollee_id  city_development_index  training_hours        target
count  19158.000000            19158.000000    19158.000000  19158.000000
mean   16875.358179                0.828848       65.366896      0.249348
std     9616.292592                0.123362       60.058462      0.432647
min        1.000000                0.448000        1.000000      0.000000
25%     8554.250000                0.740000       23.000000      0.000000
50%    16982.500000                0.903000       47.000000      0.000000
75%    25169.750000                0.920000       88.000000      0.000000
max    33380.000000                0.949000      336.000000      1.000000

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

<span style="color:rgb(0, 255, 255);font-weight:bold; font-size:25px"> describe():</span>
<ul style="list-style-type:square">
  <li>function provides descriptive statistics about the numerical columns in the DataFrame.</li>
  <li>Returns a DataFrame containing these statistics.</li>
</ul>
<i style="color:green">It tells 7 things, decribed below</i><br>
1. <b>Count:</b>  Number of non-null values in each column.<br>
2. <b>Mean:</b>  Mean (average) value of each column.<br>
3. <b>Std:</b>  Standard deviation, which measures the dispersion or spread of the values in each column.<br>
3. <b>Min:</b>  Minimum value in each column.<br>
4. <b>25% (Percentile):</b>  Value below which 25% of the data falls (first quartile or 25th percentile).<br>
5. <b>50% (Percentile):</b>  Median value, which is the middle value when the data is sorted in ascending order (second quartile or 50th percentile).<br>
6. <b>75% (Percentile):</b>  Value below which 75% of the data falls (third quartile or 75th percentile).<br>
7. <b>Max:</b>  Maximum value in each column.

<h2 style="color:rgb(0, 255, 127)">2. From Json/SQL format:  </h2>

<h2 style="color:rgb(144, 238, 144)">3. Fetch data from API: </h2>

<h2 style="color:rgb(144, 238, 144)">4. From Web-Scrapping: </h2>