<h1 style='color:rgb(255, 95, 31)'>DATA GATHERING:</h1><br>
<i style="font-size:16px">To create a model and work on that, the first thing we need is <b>DATA.</b><br>
But, How do we get that data?</i>

<h2 style="color:rgb(152, 251, 152)">There are various ways of doing that:</h2>
   <p style="font-size:16px;">1. From csv Files<br>
    2. Json/SQL files<br>
    3. Fetch data from API<br>
    4. Web-Scrapping
    </p>
    <p style="font-size:16px">We are going to study all these methods below:</p>

In [20]:
import pandas as pd

<h2 style="color:rgb(50, 205, 50)">1. From CSV Files: </h2>
<p style="font-size:16px">CSV = Comma Separated Files:<br>
 These files can be uploaded from local storage by just providing the path of that file in <b>read_csv()</b> function.</p>
 <p style="font-size:16px"> Below we're going to study some important <span style="color:rgb(207, 159, 255)">PARAMETERS</span> of <span style="color:rgb(207, 159, 255)">read_csv()</span> function: </p>

##  (i) Opening a local csv file

In [15]:
df = pd.read_csv("datasets/aug_train.csv")
# describe():
stats = df.describe()
# lets see what describe() returns, as it turns out, it returns a dataframe.
type(stats)

pandas.core.frame.DataFrame

In [16]:
stats

        enrollee_id  city_development_index  training_hours        target
count  19158.000000            19158.000000    19158.000000  19158.000000
mean   16875.358179                0.828848       65.366896      0.249348
std     9616.292592                0.123362       60.058462      0.432647
min        1.000000                0.448000        1.000000      0.000000
25%     8554.250000                0.740000       23.000000      0.000000
50%    16982.500000                0.903000       47.000000      0.000000
75%    25169.750000                0.920000       88.000000      0.000000
max    33380.000000                0.949000      336.000000      1.000000

<hr style="margin-bottom: 50px;"> 
<span style="color:rgb(0, 255, 255);font-weight:bold; font-size:25px"> describe():</span>
<ul style="list-style-type:square">
  <li>function provides descriptive statistics about the numerical columns in the DataFrame.</li>
  <li>Returns a DataFrame containing these statistics.</li>
</ul>
<span style="font-size:18px">It tells 7 things, decribed below:</span><br>
1. <b style="text-decoration:underline">Count:</b>  Number of non-null values in each column.<br>
2. <b style="text-decoration:underline">Mean:</b>  Mean (average) value of each column.<br>
3. <b style="text-decoration:underline">Std:</b>  Standard deviation, which measures the dispersion or spread of the values in each column.<br>
3. <b style="text-decoration:underline">Min:</b>  Minimum value in each column.<br>
4. <b style="text-decoration:underline">25% (Percentile):</b>  Value below which 25% of the data falls (first quartile or 25th percentile).<br>
5. <b style="text-decoration:underline">50% (Percentile):</b>  Median value, which is the middle value when the data is sorted in ascending order (second quartile or 50th percentile).<br>
6. <b style="text-decoration:underline">75% (Percentile):</b>  Value below which 75% of the data falls (third quartile or 75th percentile).<br>
7. <b style="text-decoration:underline">Max:</b>  Maximum value in each column.<br><br>
 
![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
<p style="font-size:17px;">When you are dealing with csv files or any case <span style="color:rgb(207, 159, 255)">read_csv()</span> is very important. you know there are total about 50 parameters of it.<br>But we are going to study around 15 or 16 important parameters of it.</p>

## (ii) Opening a csv file from an URL or server:

In [36]:
# The requests library is used for making HTTP requests
import requests
# 'StringIO' from 'io' is used to read and write text data in memory.
from io import StringIO

# URL from where we are requesting a csv file
url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"

# the headers (which include user-agent information) are defined.
# User-Agent: basically it's your browser, so To find this string: type 'about:version' in your browser. you'll find the same.
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"}

# An HTTP GET request is made to the URL with the defined headers.
req = requests.get(url, headers=headers) # If I directly prints it, It shows '<Response [200]>' as output.

# The text data from the response is converted into an 'in-memory text stream' using StringIO
data = StringIO(req.text)
print(data) # It shows

<_io.StringIO object at 0x000001760BBBE8C0>

In [37]:
pd.read_csv(data)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

#### 
<h2 style="color:rgb(152, 251, 152)">There are various ways of doing that:</h2>

In [39]:
import pandas as pd

# URL of the CSV file
url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"

# Read the CSV file from the URL
df = pd.read_csv(url)
df

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

<h2 style="color:rgb(50, 205, 50)">2. From Json/SQL format:  </h2>

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

<h2 style="color:rgb(50, 205, 50)">3. Fetch data from API: </h2>

<h2 style="color:rgb(50, 205, 50)">4. From Web-Scrapping: </h2>